<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Hello! Node.js</h1>
    <p>I am public/index.html</p>
    <div class="areadiv" cmanOMat = "area">
        <img src="/images/luffy.png" width="150" cmanOMat = "movearea">
        <img src="/images/jinbe.png" width="150" cmanOMat = "movearea">
        <img src="/images/chopper.png" width="150" cmanOMat = "movearea">
    </div>
    <script src="/public/javascripts/main.js"></script>
</body>
</html>